{% extends 'diary/base.html' %}

{% block title %}Вход в систему{% endblock %}

{% block content %}
<div class="container-fluid"
     style="background-image: url('/media/image/e07e6d44024731058d9526c4b33a0c6b.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;">
    <div class="container text-center">
        <h2 class="mt-5 display-4">Вход</h2>
        <form method="POST" class="mt-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Войти</button>
        </form>
        {% if error %}
            <p class="text-danger mt-3">{{ error }}</p>
        {% endif %}
        <p class="mt-3">
            Не зарегистрированы? <a href="{% url 'users:register' %}" class="text-white">Создайте аккаунт</a>
        </p>
    </div>
</div>
{% endblock %}